* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*.el-card {*/
/*    background-color: rgba(0, 0, 0, 0.2) !important;*/
/*    backdrop-filter: blur(10px) !important;*/

/*}*/

/*html {*/
/*    background-image: url(https://w.wallhaven.cc/full/85/wallhaven-856dlk.png);*/
/*}*/
