.el-dialog,
.el-card {
  background-color: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(10px) !important;
}

:root {
  --el-menu-bg-color: rgba(0, 0, 0, 0) !important;
  --el-bg-color: rgba(0, 0, 0, 0) !important;
  --el-fill-color-blank: rgba(0, 0, 0, 0) !important;
  --el-color-danger-light-9: rgba(0, 0, 0, 0) !important;
  --el-color-primary-light-9: rgba(0, 0, 0, 0) !important;
  /*--el-fill-color-light: rgba(0, 0, 0, .2) !important;*/
}

html {
  background-image: url(https://w.wallhaven.cc/full/85/wallhaven-856dlk.png);
}
